@import url('https://fonts.googleapis.com/css2?family=W ork+Sans:ital,wght@0,400;0,500;0,600;0,800;1,700&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header styles  starts from here*/


/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 25px 160px;
}

.logo {
    display: flex;
    align-items: center;
}

nav h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-left: 10px;
}

.color-style {
    color: #FF42A5;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 30px;

}

nav ul a {
    color: #3C354F;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-btn {
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: #3C354F;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.fa-brands {
    margin-left: 10px;
    font-size: 30px;
}

/* header styles  ends here*/




/* main section starts from here  */



/* banner section styles */

.banner {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.banner-content {
    width: 50%;

}

.banner-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-desgin-title {
    font-size: 4.8rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-buttons {
    margin-top: 20px;
}

.banner-description {
    text-align: left;
    color: #534C64;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
}

.banner-btn1 {
    color: white;
    font-size: 1rem;
    padding: 15px 35px;
    border-radius: 48px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
    cursor: pointer;
}

.banner-btn2 {
    color: white;
    font-size: 1rem;
    padding: 15px 35px;
    border-radius: 48px;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    background: #4EC5F7;
    cursor: pointer;
}

.banner-image {
    width: 50%;
}


/* we are gamer section styles */


.gamer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 90px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-image {
    width: 50%;
}

.gamer-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gamer-title {
    font-size: 40px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.gamer-description {
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.gamer-button {
    padding: 15px 30px;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFF;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    cursor: pointer;
}

.gamer-end-title {
    color: #534C64;
    margin-top: 20px;
    text-align: right;
    line-height: 30px;
}

.uleash {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 45px;
}


/* Online games section styles  */



.online-games-section {
    max-width: 85%;
    margin: 70px auto 0;
}

.online-games-title {
    text-align: center;
}

.online-games-title h2 {
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 800;
    margin-bottom: 20px;
}

.style-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-title p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 40px;
}

.online-games {
    display: flex;
    justify-content: center;


}

.online-games-container {
    display: flex;
    justify-content: space-between;
}

.cards-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 10px;
}

.card {
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s;
}

.image-container {
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #FF42A5;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-overlay .fa-solid {
    font-size: 40px;
}

.watch-now {
    margin-top: 10px;
    color: #FF42A5;
    font-size: 16px;
    font-weight: bold;
}

.card-title {
    color: #534C64;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 10px;
}

/* Play games section styles */

.play-games {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 70px auto 0px;
    gap: 120px;
}

.play-games-images {
    width: 50%;
}

.small-image {
    position: relative;
    bottom: 170px;
    right: 60px;
}

.play-games-content {
    display: block;
    width: 50%;
    margin-right: 50px;
}

.play-games-content h2{
    font-size: 2.6rem;
    color: #0B0223;
    font-weight: 800;
    line-height: 70px;
    margin-bottom: 20px;
    text-align: right;
     
}
.play-style-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-content p {
    color: #534C64;
    text-align: right;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}





/* Mobile view responsive styles */

@media screen and (max-width: 425px) {

    nav,
    nav ul {
        flex-direction: column;
        padding: 0px;
    }

    .nav-btn {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    nav ul li {
        margin-top: 30px;
    }

    .banner {
        flex-direction: column-reverse;
        width: 100%;
        padding: 20px;
    }

    .banner-content {
        width: 100%;
        margin-top: 50px;
    }

    .banner-image {
        width: 100%;
    }

    .gamer-section {
        flex-direction: column-reverse;
        padding: 20px;
        margin-top: 40px;
    }

    .gamer-image {
        width: 100%;
    }

    .gamer-content {
        width: 100%;
        align-items: center;
    }

    .gamer-description {
        text-align: center;
    }

    .gamer-end-title {
        text-align: center;
    }

    .online-games-section {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
    }

    .online-games {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .online-games-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .card-title {
        text-align: center;
    }

    .play-games {
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        gap: 60px;
    }

    .play-games-images {
        width: 80%;
    }
    .play-games-content {
        width: 100%;
        margin-right: 0;
    }
    .small-image {
        width: 100%;
        bottom: 100px;
        right: 40px;
    }
    .play-games-content h2{
        text-align: center;
    }
    .play-games-content p{
        text-align: center;
    }
    .style-title{
        text-align: center;
    }


}


/* Tablet view responsive styles */

@media screen and (min-width:430px) and (max-width:768px) {

    nav,
    nav ul {
        flex-direction: column;
    }

    .nav-btn {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    nav ul li {
        margin-top: 30px;
    }

    .gamer-section {
        flex-direction: column-reverse;
    }

    .banner {
        flex-direction: column-reverse;
        width: 100%;

    }

    .banner-content {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .banner-description {
        text-align: center;
    }

    .banner-image {
        width: 100%;
    }

    .gamer-section {
        flex-direction: column-reverse;
        padding: 20px;
        margin-top: 40px;
    }

    .gamer-image {
        width: 100%;
    }

    .gamer-content {
        width: 100%;
        align-items: center;
    }

    .gamer-description {
        text-align: center;
    }

    .gamer-end-title {
        text-align: center;
    }

    .online-games-section {
        width: 100%;
        padding: 20px;
    }

    .online-games {
        flex-direction: column;
        align-items: center;
    }

    .online-games-container {
        flex-direction: column;
        align-items: center;
    }

    .card-title {
        text-align: center;
    }

    .play-games {
        flex-direction: column;
        width: 100%;
        padding: 20px;
    }

    .play-games-images {
        width: 80%;
    }
    .play-games-content {
        width: 100%;
    }
    .small-image {
        width: 100%;
        bottom: 100px;
        right: 40px;
    }
    .play-games-content h2 {
        text-align: center;
    }
    .play-games-content p{
        text-align: center;
    }
    .style-title{
        text-align: center;
    }


}